In [11]:
from IPython.display import Markdown, display

display(Markdown("header.md"))

<div>
    <img src="images/emlyon.png" style="height:60px; float:left; padding-right:10px; margin-top:5px" />
    <span>
        <h1 style="padding-bottom:5px;"> AI Booster Week 02 - Python for Data Science </h1>
        <a href="https://masters.em-lyon.com/fr/msc-in-data-science-artificial-intelligence-strategy">[Emlyon]</a> MSc in Data Science & Artificial Intelligence Strategy (DSAIS) <br/>
         Paris | © Antoine SCHERRER
    </span>
</div>

Please make sure you have a working installation of Jupyter Notebook / Jupyter Lab, with Python 3.6+ up and running.

## Naming conventions

Since we will implement functions that are already available in python standard library or other libraries, you will have to *prefix* every function with `msds_` prefix.

For instance, the function implementing the `mean` function should be named `msds_mean`.

For every function you write, you will need to write a test function that should be names `test_msds_[function_name]`.

For instance, the test function for the mean will be: `test_msds_mean`.

All function should be in snake case (no Camel case!)

When creating classes, then follow these rules:
 - class names should be in camel case
 - method names should be in snake case
 - attribute names should be in

## Exercise's difficulty

Every exercise will be prefixed with an indication of its difficulty:
 - [easy]: for very easy exercise
 - [moderate]: for intermediate level exercise
 - [advanced]: for advanced students

Advanced exercises are not mandatory.

In [2]:
!pip install import_ipynb

Defaulting to user installation because normal site-packages is not writeable
Collecting import_ipynb
  Obtaining dependency information for import_ipynb from https://files.pythonhosted.org/packages/80/5d/a94923929ac5687d4a3b83440d1f95aaed7eea4a2b05c31d76d8f5564a89/import_ipynb-0.1.4-py3-none-any.whl.metadata
  Downloading import_ipynb-0.1.4-py3-none-any.whl.metadata (2.3 kB)
Requirement already satisfied: IPython in c:\programdata\anaconda3\lib\site-packages (from import_ipynb) (8.15.0)
Requirement already satisfied: nbformat in c:\programdata\anaconda3\lib\site-packages (from import_ipynb) (5.9.2)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from IPython->import_ipynb) (0.2.0)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from IPython->import_ipynb) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from IPython->import_ipynb) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\lib\site-packages (from IPython->import_ipynb) (0.1.6)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from IPython->import_ipynb) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\programdata\anaconda3\lib\site-packages (from IPython->import_ipynb) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\programdata\anaconda3\lib\site-packages (from IPython->import_ipynb) (2.15.1)
Requirement already satisfied: stack-data in c:\programdata\anaconda3\lib\site-packages (from IPython->import_ipynb) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\programdata\anaconda3\lib\site-packages (from IPython->import_ipynb) (5.7.1)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from IPython->import_ipynb) (0.4.6)
Requirement already satisfied: fastjsonschema in c:\programdata\anaconda3\lib\site-packages (from nbformat->import_ipynb) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in c:\programdata\anaconda3\lib\site-packages (from nbformat->import_ipynb) (4.17.3)
Requirement already satisfied: jupyter-core in c:\programdata\anaconda3\lib\site-packages (from nbformat->import_ipynb) (5.3.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->IPython->import_ipynb) (0.8.3)
Requirement already satisfied: attrs>=17.4.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat->import_ipynb) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat->import_ipynb) (0.18.0)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->IPython->import_ipynb) (0.2.5)
Requirement already satisfied: platformdirs>=2.5 in c:\programdata\anaconda3\lib\site-packages (from jupyter-core->nbformat->import_ipynb) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\programdata\anaconda3\lib\site-packages (from jupyter-core->nbformat->import_ipynb) (305.1)
Requirement already satisfied: executing in c:\programdata\anaconda3\lib\site-packages (from stack-data->IPython->import_ipynb) (0.8.3)
Requirement already satisfied: asttokens in c:\programdata\anaconda3\lib\site-packages (from stack-data->IPython->import_ipynb) (2.0.5)
Requirement already satisfied: pure-eval in c:\programdata\anaconda3\lib\site-packages (from stack-data->IPython->import_ipynb) (0.2.2)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from asttokens->stack-data->IPython->import_ipynb) (1.16.0)
Downloading import_ipynb-0.1.4-py3-none-any.whl (4.1 kB)
Installing collected packages: import_ipynb
Successfully installed import_ipynb-0.1.4

In [8]:
import sys
sys.path

['C:\\Users\\abhis\\Downloads\\EMLYON CLASSES\\PYTHON\\2.DATA CLEANING AND STATISTICS',
 'C:\\ProgramData\\anaconda3\\python311.zip',
 'C:\\ProgramData\\anaconda3\\DLLs',
 'C:\\ProgramData\\anaconda3\\Lib',
 'C:\\ProgramData\\anaconda3',
 '',
 'C:\\Users\\abhis\\AppData\\Roaming\\Python\\Python311\\site-packages',
 'C:\\ProgramData\\anaconda3\\Lib\\site-packages',
 'C:\\ProgramData\\anaconda3\\Lib\\site-packages\\win32',
 'C:\\ProgramData\\anaconda3\\Lib\\site-packages\\win32\\lib',
 'C:\\ProgramData\\anaconda3\\Lib\\site-packages\\Pythonwin']

In [19]:
# Initial imports
import unittest
import math

# This imports all functions defined in the Session_01 notebook!
import import_ipynb
from Session_01 import *

In [ ]:
ms

# Session 01 - Introduction - Practice

Solving **all** question from Session_01 is mandatory before solving these practice exercises.

### [easy] write a function that computes the geometric mean of an iterable given as parameter.

The geometric mean is defined as:

$\Large {\displaystyle \left(\prod{X_i}\right)^{1/n}}$

$X_i$ is $i$-th data point

In [14]:
## YOUR CODE HERE
import math 
def geo_mean(data):
    geo_sum=1
    for i in data:
        geo_sum*=(i)
    return ((geo_sum)**(1/len(data)))

In [16]:
geo_mean([100000,50000,100000])

79370.05259840992

### [easy] write a function that computes the harmonic mean of an iterable given as parameter.

The harmonic mean is defined as:

$\Large {\displaystyle \frac{n}{\sum_{i=1}^{n} \frac{1}{X_i}}}$

$X_i$ is $i$-th data point

In [17]:
## YOUR CODE HERE
def har_mean(data):
    har_sum=0
    for i in data:
        har_sum+=1/i
    return (len(data)/har_sum)

In [18]:
har_mean([100000,50000,100000])

75000.0

### [moderate] write a function that computes all data needed for a box-plot

Function should output two lists, the first list is the data needed to plot a box plot (in this order)
 - lower fence ($Q1 - 1.5\times IQR$)
 - 1st quartile ($Q1$) 
 - median ($Q2$)
 - 3rd quartile ($Q3$)
 - upper fence ($Q3 + 1.5\times IQR$)

The second list should contain all outliers ($v$ < lower fence or $v$ > upper fence)

In [22]:
## YOUR CODE HERE
def box_plotsdata(data):
    q1=msds_quartile(data,1)
    q2=msds_quartile(data,2)
    q3=msds_quartile(data,3)
    iqr=msds_iqr(data)
    l_f=q1-(1.5*iqr)
    u_f=q3+(1.5*iqr)
    list1=[l_f,q1,q2,q3,u_f]
    outlierlower=[]
    outlierupper=[]
    for i in data:
        if i>u_f:
            outlierupper.append(i)
        elif i<l_f:
            outlierlower.append(i)
    list2=outlierlower+outlierupper
    finallist2=set(list2)
    return list1,finallist2

In [23]:
box_plotsdata([1,2,22,24,35,41,42,43,44,45,46,47,48,99,100])

([4.0, 29.5, 43.0, 46.5, 72.0], {1, 2, 99, 100})

### [moderate] write a function that computes all deciles

Function should output the list of 9 deciles (D1 .. D9).

You should write a test function and compare your results to the one from a statistics package.

Use `salary.csv` and `heights_weights.csv` datasets to check your results.

In [37]:
def decile(data, n):
    if n < 1 or n > 9:
        raise ValueError("n must be between 1 and 9")
    
    sorted_data = sorted(data)
    index = (n / 10) * (len(sorted_data) - 1)
    
    if index.is_integer():
        return sorted_data[int(index)]
    else:
        lower = int(index)
        fraction = index - lower
        return sorted_data[lower] + fraction * (sorted_data[lower + 1] - sorted_data[lower])

In [48]:
test_data1 = [6, 7, 15, 36, 39, 40, 41, 42, 43, 47, 49,67,88,100,200,300,500,1000]
dec_list=[]
for i in range(9):
    dec_list.append(round(decile(test_data1, i+1),1))
    
dec_list

[12.6, 37.2, 40.1, 41.8, 45.0, 52.6, 85.9, 160.0, 360.0]

In [43]:
import statistics

def get_deciles(data):
    return statistics.quantiles(data, n=10, method='inclusive')

In [44]:
get_deciles(test_data1)

[12.6, 37.2, 40.1, 41.8, 45.0, 52.6, 85.9, 160.0, 360.0]

In [26]:
## YOUR CODE HERE
sal_df=pd.read_csv('salary.csv')
weight_df=pd.read_csv('heights_weights.csv')
mountain_df=pd.read_csv('highest_mountains.csv')

In [27]:
sal_df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [28]:
weight_df.head()

   Index  Height(Inches)  Weight(Pounds)
0      1        65.78331        112.9925
1      2        71.51521        136.4873
2      3        69.39874        153.0269
3      4        68.21660        142.3354
4      5        67.78781        144.2971

In [29]:
mountain_df.head()

   Mount Everest  8848     Mahalangur Himalaya
0             K2  8611       Baltoro Karakoram
1  Kangchenjunga  8586  Kangchenjunga Himalaya
2         Lhotse  8516     Mahalangur Himalaya
3         Makalu  8485     Mahalangur Himalaya
4        Cho Oyu  8188     Mahalangur Himalaya

### [moderate] Application to data

Using the functions you implemented today, perform a basic statistical description of `highest_mountains.csv`, `salary.csv` and `heights_wweights.csv` datasets.

In [32]:
sal_df['Salary']

0       90000.0
1       65000.0
2      150000.0
3       60000.0
4      200000.0
         ...
370     85000.0
371    170000.0
372     40000.0
373     90000.0
374    150000.0
Name: Salary, Length: 375, dtype: float64

In [34]:
sal_df['Salary'].tolist()

[90000.0,
 65000.0,
 150000.0,
 60000.0,
 200000.0,
 55000.0,
 120000.0,
 80000.0,
 45000.0,
 110000.0,
 75000.0,
 140000.0,
 65000.0,
 130000.0,
 40000.0,
 125000.0,
 90000.0,
 115000.0,
 35000.0,
 180000.0,
 80000.0,
 190000.0,
 50000.0,
 60000.0,
 140000.0,
 45000.0,
 110000.0,
 40000.0,
 140000.0,
 90000.0,
 250000.0,
 55000.0,
 75000.0,
 65000.0,
 170000.0,
 45000.0,
 60000.0,
 115000.0,
 40000.0,
 160000.0,
 80000.0,
 190000.0,
 60000.0,
 45000.0,
 130000.0,
 40000.0,
 75000.0,
 180000.0,
 120000.0,
 35000.0,
 130000.0,
 85000.0,
 60000.0,
 200000.0,
 50000.0,
 95000.0,
 65000.0,
 140000.0,
 55000.0,
 105000.0,
 170000.0,
 50000.0,
 80000.0,
 180000.0,
 35000.0,
 90000.0,
 120000.0,
 45000.0,
 90000.0,
 150000.0,
 65000.0,
 70000.0,
 190000.0,
 40000.0,
 120000.0,
 95000.0,
 160000.0,
 100000.0,
 180000.0,
 55000.0,
 70000.0,
 80000.0,
 30000.0,
 250000.0,
 40000.0,
 95000.0,
 45000.0,
 80000.0,
 135000.0,
 55000.0,
 120000.0,
 40000.0,
 105000.0,
 170000.0,
 75000.0,
 65000.0,
 160000.0,
 35000.0,
 90000.0,
 110000.0,
 45000.0,
 95000.0,
 150000.0,
 50000.0,
 80000.0,
 220000.0,
 50000.0,
 60000.0,
 100000.0,
 40000.0,
 110000.0,
 95000.0,
 130000.0,
 90000.0,
 35000.0,
 95000.0,
 65000.0,
 170000.0,
 45000.0,
 120000.0,
 100000.0,
 180000.0,
 50000.0,
 80000.0,
 140000.0,
 40000.0,
 95000.0,
 110000.0,
 50000.0,
 105000.0,
 160000.0,
 45000.0,
 100000.0,
 160000.0,
 35000.0,
 55000.0,
 140000.0,
 50000.0,
 60000.0,
 120000.0,
 40000.0,
 110000.0,
 50000.0,
 135000.0,
 40000.0,
 90000.0,
 150000.0,
 60000.0,
 80000.0,
 175000.0,
 45000.0,
 120000.0,
 140000.0,
 35000.0,
 95000.0,
 110000.0,
 50000.0,
 115000.0,
 185000.0,
 40000.0,
 90000.0,
 175000.0,
 45000.0,
 80000.0,
 120000.0,
 35000.0,
 110000.0,
 150000.0,
 50000.0,
 105000.0,
 180000.0,
 40000.0,
 nan,
 140000.0,
 45000.0,
 85000.0,
 140000.0,
 50000.0,
 80000.0,
 170000.0,
 40000.0,
 105000.0,
 145000.0,
 40000.0,
 85000.0,
 130000.0,
 95000.0,
 100000.0,
 180000.0,
 35000.0,
 95000.0,
 170000.0,
 45000.0,
 95000.0,
 120000.0,
 40000.0,
 90000.0,
 155000.0,
 55000.0,
 110000.0,
 180000.0,
 45000.0,
 130000.0,
 45000.0,
 90000.0,
 160000.0,
 50000.0,
 120000.0,
 170000.0,
 40000.0,
 110000.0,
 150000.0,
 40000.0,
 85000.0,
 130000.0,
 100000.0,
 95000.0,
 180000.0,
 35000.0,
 100000.0,
 170000.0,
 45000.0,
 100000.0,
 140000.0,
 40000.0,
 105000.0,
 160000.0,
 70000.0,
 120000.0,
 190000.0,
 45000.0,
 120000.0,
 50000.0,
 85000.0,
 140000.0,
 45000.0,
 100000.0,
 140000.0,
 70000.0,
 120000.0,
 160000.0,
 40000.0,
 120000.0,
 150000.0,
 70000.0,
 95000.0,
 180000.0,
 50000.0,
 95000.0,
 170000.0,
 40000.0,
 110000.0,
 150000.0,
 40000.0,
 85000.0,
 130000.0,
 100000.0,
 95000.0,
 180000.0,
 350.0,
 nan,
 120000.0,
 160000.0,
 50000.0,
 110000.0,
 40000.0,
 95000.0,
 140000.0,
 60000.0,
 110000.0,
 150000.0,
 60000.0,
 90000.0,
 180000.0,
 40000.0,
 120000.0,
 160000.0,
 70000.0,
 95000.0,
 180000.0,
 50000.0,
 95000.0,
 170000.0,
 35000.0,
 100000.0,
 150000.0,
 60000.0,
 85000.0,
 130000.0,
 65000.0,
 110000.0,
 180000.0,
 40000.0,
 90000.0,
 140000.0,
 60000.0,
 130000.0,
 160000.0,
 40000.0,
 100000.0,
 180000.0,
 55000.0,
 120000.0,
 150000.0,
 70000.0,
 95000.0,
 180000.0,
 50000.0,
 120000.0,
 170000.0,
 35000.0,
 100000.0,
 150000.0,
 60000.0,
 85000.0,
 130000.0,
 80000.0,
 95000.0,
 40000.0,
 120000.0,
 160000.0,
 65000.0,
 130000.0,
 180000.0,
 40000.0,
 100000.0,
 150000.0,
 55000.0,
 110000.0,
 180000.0,
 50000.0,
 130000.0,
 160000.0,
 60000.0,
 95000.0,
 170000.0,
 40000.0,
 90000.0,
 150000.0,
 70000.0,
 90000.0,
 170000.0,
 50000.0,
 150000.0,
 160000.0,
 60000.0,
 85000.0,
 180000.0,
 35000.0,
 110000.0,
 160000.0,
 55000.0,
 110000.0,
 180000.0,
 50000.0,
 130000.0,
 160000.0,
 60000.0,
 95000.0,
 170000.0,
 40000.0,
 90000.0,
 150000.0,
 70000.0,
 90000.0,
 170000.0,
 50000.0,
 150000.0,
 160000.0,
 60000.0,
 85000.0,
 170000.0,
 40000.0,
 90000.0,
 150000.0]

In [35]:
## YOUR CODE HERE
box_plotsdata(weight_df['Height(Inches)'].tolist())

([75000.0, 90000.0, nan, 100000.0, 115000.0],
 {350.0,
  30000.0,
  35000.0,
  40000.0,
  45000.0,
  50000.0,
  55000.0,
  60000.0,
  65000.0,
  70000.0,
  120000.0,
  125000.0,
  130000.0,
  135000.0,
  140000.0,
  145000.0,
  150000.0,
  155000.0,
  160000.0,
  170000.0,
  175000.0,
  180000.0,
  185000.0,
  190000.0,
  200000.0,
  220000.0,
  250000.0})

In [ ]:
box_plotsdata(sal_df['Salary'].tolist())

### [advanced] Deciles, percentiles, etc.

Write a function that takes a data set and an integer `P` as parameter.
`P` will be the number of segment in which we want to slice our data (4 means quartiles, 10 deciles, 100 percentiles).
Function should output all values (N-1).
Function should also print N messages like this, replacing `[...]` by the correct value:
```
[...]% of data values are below [...]
[...]% of data values are between [...] and [...]
...
[...]% percent of data values are above [...]
```
For instance, if `P=4`, the message should look like this (replacing `[Q1]` by actual values):
```
25% of data values are below [Q1]
50% of data values are below [Q2]
75% of data values are below [Q3]
```

Validate on weights dataset.

In [ ]:
## YOUR CODE HERE

In [77]:
def calculate_percentile(data,n):
        N = len(data)
        index = (n / 100) * (N - 1)
        if index.is_integer():
            return data[int(index)]
        else:
            lower = int(index)
            fraction = index - lower
            return data[lower] + fraction * (data[lower + 1] - data[lower])
        
        
def advanced_percentiles(data, P):
    sorted_data = sorted(data)
    N = len(sorted_data)
    
    
    
    percentiles = [calculate_percentile(sorted_data,(i+1) * 100 / P) for i in range(P-1)]
    
    for i in range(P-1):
        print(f"{(i+1)*100/P:.1f}% of data values are below {percentiles[i]:.2f}")
    
    return percentiles

# Example usage:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = advanced_percentiles(data, 4)  # For quartiles
print("\nReturned percentiles:", result)

25.0% of data values are below 3.25
50.0% of data values are below 5.50
75.0% of data values are below 7.75

Returned percentiles: [3.25, 5.5, 7.75]

In [78]:
advanced_percentiles(test_data1,10)

10.0% of data values are below 12.60
20.0% of data values are below 37.20
30.0% of data values are below 40.10
40.0% of data values are below 41.80
50.0% of data values are below 45.00
60.0% of data values are below 52.60
70.0% of data values are below 85.90
80.0% of data values are below 160.00
90.0% of data values are below 360.00

[12.600000000000001,
 37.2,
 40.1,
 41.8,
 45.0,
 52.59999999999999,
 85.89999999999998,
 160.00000000000014,
 360.0000000000001]

### [advanced] Compute empirical critical values

When performing statistical tests or building confidence intervals, 
you will sometimes need to compute the critical values for a given significance level $\alpha$  (typically $\alpha=0.05$).

Using function from previous question, write a function that will compute this critical values (lower and upper), for two-tailed tests (lower critical value $c_l$, such that $P(X < c_l) = \alpha / 2$, upper critical value is $c_h$, such that $P(X < c_h) = 1-\alpha / 2$

In [79]:
## YOUR CODE HERE

def critical_values(data, alpha=0.05):
    data=sorted(data)
    lower_percentile = alpha / 2 * 100
    upper_percentile = (1 - alpha / 2) * 100
    
    lower_critical = calculate_percentile(data, lower_percentile)
    upper_critical = calculate_percentile(data, upper_percentile)
    
    print(f"For significance level α = {alpha}:")
    print(f"Lower critical value (cl): {lower_critical:.4f}")
    print(f"Upper critical value (ch): {upper_critical:.4f}")
    print(f"P(X < cl) = {alpha/2:.4f}")
    print(f"P(X < ch) = {1-alpha/2:.4f}")
    
    return lower_critical, upper_critical

In [84]:
test_data1

[6, 7, 15, 36, 39, 40, 41, 42, 43, 47, 49, 67, 88, 100, 200, 300, 500, 1000]

In [82]:
# Calculate critical values for α = 0.05 (default)
cl, ch = critical_values(test_data1)

For significance level α = 0.05:
Lower critical value (cl): 6.4250
Upper critical value (ch): 787.5000
P(X < cl) = 0.0250
P(X < ch) = 0.9750

In [83]:
cl, ch = critical_values(test_data1,alpha=0.01)

For significance level α = 0.01:
Lower critical value (cl): 6.0850
Upper critical value (ch): 957.5000
P(X < cl) = 0.0050
P(X < ch) = 0.9950

## Object-oriented programming

### Q6 [advanced] Convert all your functions and organize them in classes using OOP

The idea is that using OOP you can build your own statistics package, tailored to your needs.
Think carefully how you will organize your package, how you want to use it, etc.

In [2]:
## YOUR CODE HERE

In [87]:
import math
import statistics

class StatsBase:
    def __init__(self, data):
        self.data = data

    def mean(self):
        return sum(self.data) / len(self.data)

    def median(self):
        sorted_data = sorted(self.data)
        n = len(sorted_data)
        if n % 2 == 0:
            return (sorted_data[n//2 - 1] + sorted_data[n//2]) / 2
        else:
            return sorted_data[n//2]

    def mode(self):
        return max(set(self.data), key=self.data.count)

    def range(self):
        return max(self.data) - min(self.data)

    def variance(self, sample=True):
        mean = self.mean()
        squared_diff_sum = sum((x - mean) ** 2 for x in self.data)
        if sample:
            return squared_diff_sum / (len(self.data) - 1)
        else:
            return squared_diff_sum / len(self.data)

    def std_dev(self, sample=True):
        return math.sqrt(self.variance(sample))

class DescriptiveStats(StatsBase):
    def geometric_mean(self):
        product = 1
        for item in self.data:
            product *= item
        return product ** (1 / len(self.data))

    def harmonic_mean(self):
        return len(self.data) / sum(1 / x for x in self.data)

    def coef_var(self):
        return self.std_dev() / self.mean()

class Quantiles(StatsBase):
    def percentile(self, p):
        sorted_data = sorted(self.data)
        n = len(sorted_data)
        index = p * (n - 1) / 100
        if index.is_integer():
            return sorted_data[int(index)]
        else:
            lower = int(index)
            fraction = index - lower
            return sorted_data[lower] + fraction * (sorted_data[lower + 1] - sorted_data[lower])

    def quartile(self, q):
        return self.percentile(q * 25)

    def iqr(self):
        return self.quartile(3) - self.quartile(1)

    def deciles(self):
        return [self.percentile(i * 10) for i in range(1, 10)]

    def box_plot_data(self):
        q1, q2, q3 = self.quartile(1), self.quartile(2), self.quartile(3)
        iqr = self.iqr()
        lower_fence = q1 - 1.5 * iqr
        upper_fence = q3 + 1.5 * iqr
        outliers = [x for x in self.data if x < lower_fence or x > upper_fence]
        return {
            'lower_fence': lower_fence,
            'q1': q1,
            'median': q2,
            'q3': q3,
            'upper_fence': upper_fence,
            'outliers': outliers
        }

class MomentsAndCriticalValues(StatsBase):
    def moment(self, n):
        mean = self.mean()
        return sum((x - mean) ** n for x in self.data) / len(self.data)

    def standard_moment(self, n):
        return self.moment(n) / (self.std_dev() ** n)

    def skewness(self):
        return self.standard_moment(3)

    def kurtosis(self):
        return self.standard_moment(4)

    def critical_values(self, alpha=0.05):
        sorted_data = sorted(self.data)
        lower_percentile = alpha / 2 * 100
        upper_percentile = (1 - alpha / 2) * 100
        
        lower_critical = Quantiles(self.data).percentile(lower_percentile)
        upper_critical = Quantiles(self.data).percentile(upper_percentile)
        
        return lower_critical, upper_critical

class StatsPackage(DescriptiveStats, Quantiles, MomentsAndCriticalValues):
    def __init__(self, data):
        super().__init__(data)

    def summary(self):
        return {
            'mean': self.mean(),
            'median': self.median(),
            'mode': self.mode(),
            'std_dev': self.std_dev(),
            'variance': self.variance(),
            'range': self.range(),
            'iqr': self.iqr(),
            'skewness': self.skewness(),
            'kurtosis': self.kurtosis()
        }

# Example usage:

stats = StatsPackage(test_data1)

print("Summary:", stats.summary())
print("Deciles:", stats.deciles())
print("Box Plot Data:", stats.box_plot_data())
print("Critical Values (α=0.05):", stats.critical_values())

Summary: {'mean': 145.55555555555554, 'median': 45.0, 'mode': 67, 'std_dev': 246.80409526162342, 'variance': 60912.26143790849, 'range': 994, 'iqr': 57.75, 'skewness': 2.420240133078133, 'kurtosis': 8.256078998386121}
Deciles: [12.6, 37.2, 40.1, 41.8, 45.0, 52.59999999999999, 85.9, 159.99999999999997, 360.0000000000001]
Box Plot Data: {'lower_fence': -47.375, 'q1': 39.25, 'median': 45.0, 'q3': 97.0, 'upper_fence': 183.625, 'outliers': [200, 300, 500, 1000]}
Critical Values (α=0.05): (6.425, 787.4999999999997)